 
.image-container {
    position: relative;
    width: 200px;
    height: 125px;
}

.image-element {
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 30px;
    color: #f1f1f1;
    transition: .5s ease;
    height: 100%;
    visibility: visible;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.8);
}

.cancel-icon {
    display: none;
}
 
