

@import url('medical-theme.css');


.label-with- {
    position: relative;
    padding-left: 25px;
}


.perinatal-form .form-group {
    margin-bottom: 0.375rem;
}

.perinatal-form .form-control-sm {
    height: calc(1.375em + 0.5rem + 2px);
    padding: 0.1875rem 0.5rem;
    font-size: 0.8125rem;
}

@media print {
    .no-print {
        display: none;
    }

    body {
        font-size: 10px;
    }

    .form-control {
        border: none;
        padding: 0;
        height: auto;
    }

    .form-check-input {
        margin-top: 0;
    }

    .container {
        width: 100%;
        max-width: 100%;
        padding: 0;
        margin: 0;
    }

    /* .  {
        width: 12px;
        height: 12px;
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
    } */

    .section-header {
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
    }

    .border-alert {
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
    }
}